<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Órama-InvestmentTypes</title>
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/CardTipoInv.css">
    
</head>
<body>
    <div id="container-CardTipoInv">
        <div id="container">

            <main>
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        
                        <div class="swiper-slide">
                            
                            <div class="card-one">
                                <div class="tipoInv">
                                    <img src="/img/Logo-orama.png" alt="">
                                </div>

                                <div class="description">
                                    <h1>O que quero  hoje?</h1>
                                </div>
                                <div class="buttom">
                                    <img src="/img/left-arrow.svg" alt="Imagen flecha right">
                                    <img src="/img/next.svg" alt="Imagen flecha left">
                                </div>
                            </div> 

                        </div>

                        <div class="swiper-slide">
                            
                            <div class="card-two" >
                                <div class="tipoInv">
                                    <a href="#"> <img src="/img/moneda.png" alt="Monedas"> </a>
                                </div>

                                <div class="description">
                                    <h1>Ganhar mais?</h1>
                                </div>

                                <div class="buttom">
                                    <a id="confirm-lateral" href="/views/Investments.html">Entrar</a>
                                </div>
                            </div>
                            
                        </div>


                        <div  class="swiper-slide">
                            
                            <div class="card-three">
                                <div class="tipoInv">
                                    <a href="#"> <img src="/img/cofre.png" alt="Monedas"> </a>
                                </div>

                                <div class="description">
                                    <h1>Proteger meu dinheiro?</h1>
                                </div>

                                <div class="buttom">
                                    <a id="confirm-lateral" href="/views/Investments.html">Entrar</a>
                                </div>
                            </div>
                        
                        </div>

                    </div>
                </div>
            </main>
    
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
    <script src="/scripts/script.js"></script>

</body>
</html>