<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Órama-InvestmentFav</title>

    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/InvestmentFav.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>
    <div id="container-InvestmentFav">

        <div class="titulo">
            <h1>Favoritos</h1>
        </div>
    
        <div class="cards">
            <div class="invest--card">
                <img src="/img/graf.svg">
                <div class="description">
                    <p>Projecão de rendimento:</p>
                    <h1>R$ 5.000,00</h1>

                    <p>Investimento Minimo:</p>
                    <h2>R$ 1000,00</h2>

                    <div class="tipoRisco">
                        <p>Médio Risco</p>
                        <p>Tesouro Direto</p>
                    </div>
                </div> 
            </div>

            <div class="invest--card">
                <img src="/img/graf.svg">
                <div class="description">
                <p>Projecão de rendimiento:</p>
                <h1>R$ 5.000,00</h1>

                <p>Investimento Minimo:</p>
                <h2>R$ 1000,00</h2>

                <div class="tipoRisco">
                    <p>Médio Risco</p>
                    <p>Tesouro Direto</p>
                </div>
                </div> 
            </div>

            <div class="invest--card">
                <img src="/img/graf.svg">
                <div class="description">
                <p>Projecão de rendimiento:</p>
                <h1>R$ 5.000,00</h1>

                <p>Investimento Minimo:</p>
                <h2>R$ 1000,00</h2>

                <div class="tipoRisco">
                    <p>Médio Risco</p>
                    <p>Tesouro Direto</p>
                </div>
                </div> 
            </div>

            <div class="invest--card">
                <img src="/img/graf.svg">
                <div class="description">
                <p>Projecão de rendimiento:</p>
                <h1>R$ 5.000,00</h1>

                <p>Investimento Minimo:</p>
                <h2>R$ 1000,00</h2>

                <div class="tipoRisco">
                    <p>Médio Risco</p>
                    <p>Tesouro Direto</p>
                </div>
                </div> 
            </div>
        </div>
    </div>
    
</body>
</html>