<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Órama-Investments</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/Investments.css">

    
    
</head>
<body>

  <div class="invest">

    <div class="invest--status">
      <i class="fa fa-remove"></i>
      <i class="fa fa-heart"></i>
    </div>

    <div class="invest--cards">
      
      <div class="invest--card">
        <img src="/img/graf.svg">
        <div class="description">
          <p>Projecão de rendimiento:</p>
          <h1>R$ 5.000,00</h1>

          <p>Investimento Minimo:</p>
          <h2>R$ 1000,00</h2>

          <div class="tipoRisco">
            <p>Médio Risco</p>
            <p>Tesouro Direto</p>
          </div>
        </div> 

      </div>

      <div class="invest--card">
        <img src="/img/graf.svg">
        <div class="description">
          <p>Projecão de rendimiento:</p>
          <h1>R$ 5.000,00</h1>

          <p>Investimento Minimo:</p>
          <h2>R$ 1000,00</h2>

          <div class="tipoRisco">
            <p>Médio Risco</p>
            <p>Tesouro Direto</p>
          </div>
        </div>
      </div>

      <div class="invest--card">
        <img src="/img/graf.svg">
        <div class="description">
          <p>Projecão de rendimiento:</p>
          <h1>R$ 5.000,00</h1>

          <p>Investimento Minimo:</p>
          <h2>R$ 1000,00</h2>

          <div class="tipoRisco">
            <p>Médio Risco</p>
            <p>Tesouro Direto</p>
          </div>
        </div>
      </div>

      <div class="invest--card">
        <img src="/img/graf.svg">
        <div class="description">
          <p>Projecão de rendimiento:</p>
          <h1>R$ 5.000,00</h1>

          <p>Investimento Minimo:</p>
          <h2>R$ 1000,00</h2>

          <div class="tipoRisco">
            <p>Médio Risco</p>
            <p>Tesouro Direto</p>
          </div>
        </div> 
      </div>

      <div class="invest--card">
        <img src="/img/graf.svg">
        <div class="description">
          <p>Projecão de rendimiento:</p>
          <h1>R$ 5.000,00</h1>

          <p>Investimento Minimo:</p>
          <h2>R$ 1000,00</h2>

          <div class="tipoRisco">
            <p>Médio Risco</p>
            <p>Tesouro Direto</p>
          </div>
        </div>
      </div>
    </div>

    <div class="invest--buttons">
      <button id="nope"><i class="fa fa-remove"></i></button>
      <button id="love"><i class="fa fa-heart"></i></button>
      <a href="/views/InvestmentFav.html"> <i class="material-icons">grade</i> </a>
      
    </div>
  </div>

  <script src="https://hammerjs.github.io/dist/hammer.min.js"></script>
  <script src="/scripts/Investments.js"></script>
</body>
</html>